@-webkit-keyframes box_move1 {
  from {
    left: -100px;
    top: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    left: 400px;
    top: 700px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes box_move1 {
  from {
    left: -100px;
    top: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    left: 400px;
    top: 700px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes box_move2 {
  from {
    left: -100px;
    top: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    right: 150px;
    top: 750px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes box_move2 {
  from {
    left: -100px;
    top: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    right: 150px;
    top: 750px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes box_move3 {
  from {
    left: -100px;
    top: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    left: 400px;
    top: 700px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes box_move3 {
  from {
    left: -100px;
    top: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    left: 400px;
    top: 700px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes box_move4 {
  from {
    top: 70%;
    left: 90%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    left: 20%;
    top: 20%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes box_move4 {
  from {
    top: 70%;
    left: 90%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    left: 20%;
    top: 20%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes move_icon {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes move_icon {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
